<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidsFirst"
        tools:targetApi="31" >
        <activity
            android:name=".presentation.hapuspengguna.HapusPenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.editprofil.EditProfilActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_profil"
            android:theme="@style/Theme.KidsFirst" />
        <activity
            android:name=".presentation.detaildokter.DetailDokterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>